# Database
DB_URI=postgres://app-admin:app-admin-pass@localhost:5434/app-db
KIT_DB_URI=postgres://app-admin:app-admin-pass@localhost:5434/app-db
DB_MIGRATING=false
DB_SEEDING=false

# API (External)
API_URL=http://localhost:3000
API_KEY=your-api-key
API_SECRET=your-api-secret

# Auth
AUTH_SECRET=your-auth-secret-change-this
BASED_URL=http://localhost:3000
