# dependencies
/node_modules
/.pnpm-store

# next.js
/.next/
/out/

# database
/db/migrations/

# production artifacts
/build

# logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files (keep example, ignore local)
.env*.local
.env

# misc
.DS_Store
*.pem
node_modules

# strapi
/strapi
